{{> header }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Sobre nosotros</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo minus alias in, nihil error, quis dolorem
            quibusdam eveniet non tempora placeat? Numquam reprehenderit illum, explicabo neque corrupti repellat ipsum
            dolorum.</p>
    </div>

    <div class="col-4">
        <img src="assets/img/img-post.png" alt="" class="img-thumbnail">
    </div>

</div>

{{> footer}}